

.projects {
    display: grid;
    grid-template-columns: auto auto;
}


a {
    text-decoration: none;
}

#projects {
    width: 20rem;
    margin-top: 4rem;
}

.img {
    width: 35rem;
    margin: -1rem;
}

#sc {
    background: url(https://i.imgur.com/NtHwbgO.png)
}

#sc:hover {
   background: url(https://i.imgur.com/blxTuqF.png); 
}

#bevthedev {
    margin: auto;
    margin-top: 3rem;
    width: 10rem;
}