

.projects {
    display: grid;
    grid-template-columns: auto auto;
}


a {
    text-decoration: none;
}

#projects {
    width: 35vw;
    margin-top: 4vw;
}

.img {
    width: 50vw;
    margin: -1vw;
    transition: transform .5s;
}

.img:hover {
    transform: scale(1.1);
}

#sc {
    background: url(https://i.imgur.com/NtHwbgO.png)
}

#sc:hover {
   background: url(https://i.imgur.com/blxTuqF.png); 
}

#bevthedev {
    margin: auto;
    margin-top: 3rem;
    width: 10rem;
}

#projarrow {
    width: 10vw;
    margin-right: -3vw;
}

/* @media only screen and (min-width: 768) {
    
} */