.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.resume-card {
    color: transparent;
    width: 15rem;
    height: 21rem;
}

.resume-card:hover {
    color: black;
    background: white;
}

ul {
    text-align: left;
}

#ga {
    background: url(https://i.imgur.com/2Ju9Llh.png);
    background-size: cover;
}

#ga:hover {
    background: url(https://i.imgur.com/SRSV1nv.png);
    background-size: cover;
}

#knd {
    background: url(https://i.imgur.com/jgiPQMu.png);
    background-size: cover;
}

#knd:hover {
    background: url(https://i.imgur.com/I9jPO9R.png);
    background-size: cover;
}

#rfa {
    background: url(https://i.imgur.com/LqgbJdu.png);
    background-size: cover;
}

#rfa:hover {
    background: url(https://i.imgur.com/AHv77oG.png);
    background-size: cover;
}

#cdrc {
    background: url(https://i.imgur.com/152gJsf.png);
    background-size: cover;
}

#cdrc:hover {
    background: url(https://i.imgur.com/DNvwhi3.png);
    background-size: cover;
}

#resume {
    width: 17rem;
}

ul {
    padding: .5rem 2rem 0 3.3rem;
}
