.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.resume-card {
    color: transparent;
    border-radius: 1rem;
    width: 16.1rem
}

.resume-card:hover {
    color: black;
    background: white;
}

ul {
    text-align: left;
}

#ga {
    background: url(https://i.imgur.com/2Ju9Llh.png);
    background-size: cover;
}

#knd {
    background: url(https://i.imgur.com/jgiPQMu.png);
    background-size: cover;
}

#rfa {
    background: url(https://i.imgur.com/LqgbJdu.png);
    background-size: cover;
}

#cdrc {
    background: url(https://i.imgur.com/UjQZwff.png);
    background-size: cover;
}