.aboutme {
    display: flex;
    align-items: center;
    margin: 2vw 10vw 1vw 10vw;
}

.aboutme > img {
    width: 20vw;
    margin-right: 2vw;
}

#name {
    width: 90vw;
}

.aboutme > p {
    font-size: 2vw;
    width: 70vw;
}

#contact {
    margin-top: 0;
    font-size: 2.5vw;
    width: 90vw;
    margin: auto;
}

#contact > a {
    color: brown;
}

/* @media screen and (max-width: 768) {
    .aboutme {
        
    }
} */